* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

nav ul {
  display: flex;
  list-style: none;
  height: 50px;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  gap: 20px;
  background-color: #007bff;

}
li a{
  color: white;
}
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.login-form {
  max-width: 400px;
  width: 100%;
  padding: 20px;

  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.login-button:hover {
  background-color: #0056b3;
}

/* -----------------------------register----------------------------------- */

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.register-form {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.register-button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.register-button:hover {
  background-color: #218838;
}
